Package: com.broganminer.cydialight
Name: CydiaLight
Depends: mobilesubstrate, cycript
Version: 1.0.0
Architecture: iphoneos-arm
Description: Search tweaks with Spotlight
Maintainer: Brogan Miner
Author: Brogan Miner
Section: Tweaks
